# Copyright (c) 2022 - 2023, Oracle and/or its affiliates. All rights reserved.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl/.

# Ignore Gradle project-specific cache directory
.gradle
gradle-*

# Ignore Gradle build output directory
build

# Ignore downloaded schemastore files
schemastore

# Any JDK artifacts downloaded by the user
jdk-*.jdk
jdk-*.tar.gz
