# Copyright (c) 2022 - 2022, Oracle and/or its affiliates. All rights reserved.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl/.

recursive-include src/macaron *
recursive-exclude src/macaron/**/__pycache__ *

exclude .gitignore .pre-commit-config.yaml .flake8
exclude MANIFEST.in
exclude pyproject.toml
recursive-exclude docs *
recursive-exclude tests *
