{#
    Copyright (c) 2023 - 2023, Oracle and/or its affiliates. All rights reserved.
    Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl/
#}

{# This section contains the reuseable macros. #}

{#
    This macro renders a hyperlink.
#}
{%- macro render_hyperlink(href, display_text= "", target="_blank", class="", id="") -%}
<a href="{{ href }}" target="{{ target }}" class="{{ class }}" id = "{{ id }}">{{ display_text }}</a>
{%- endmacro %}

{#
    This macro creates the <thead> element for a table from a list of header names.
#}
{%- macro render_headers(headers) -%}
<thead>
    <tr>
        {% for header in headers %}
        <th>{{ header | replace("_", " ") | capitalize }}</th>
        {% endfor %}
    </tr>
</thead>
{%- endmacro %}

{#
    This macro renders the structure for a html table which will contain <thead> (optional) and <tbody> elements.
    The parameter header_names is a list of header names for the table (default to an empty list).
    If has_header == true, the macro will also render the from header_names (default to true).
    The rendering for each data row in the table must be handled by the caller.
#}
{%- macro render_table(header_names=[], has_header=true, class="", id="") -%}
<table class="{{ class }}" id="{{ id }}">
    {% if has_header == true %}
    {%- set headers = header_names -%}
    {{ render_headers(headers) | indent(4, first=true) }}
    {% endif %}
    <tbody>
    {# We use the caller rendering here. #}
    {{ caller() | indent(4) }}
    </tbody>
</table>
{%- endmacro %}

{#
    This macro renders a hierarchy list to display a dictionary-structured data.
#}
{% macro render_tree_view_nested_list(data, class="", id="") %}
{% set data = data | get_flatten_dict %}
<ul class="tree-view-nested-list {{ class }}" id="{{ id }}">
    {% for key, value in data.items() recursive %}
    <li>
        {% if value is mapping %}
        <div class="caret">{{ key }}:</div>
        <ul class="nested-ul">
        {{ loop(value.items()) | indent(2 * 4) }}
        </ul>
        {% else %}
        {{ key }}: {{ value }}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endmacro %}

{# -------------------------------------------- #}
